.deposit {
  height: 100%;
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--main-line-color);
}

.deposit__smiley img {
  height: 200px;
  margin-top: 70px;
}

.deposit__text {
  font-family: 'Spectral-BoldItalic';
  font-size: 30px;
  max-width: 650px;
}

.deposit__text h2 {
  font-weight: 600;
  margin: 10px 0;
}

.deposit__text p {
  font-weight: 600;
  line-height: 130%;
  margin: 20px 0;
}
