.footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  border: 1px solid;
  padding: 10px;
  border-top: 1px solid var(--main-line-color);
  border-bottom: 1px solid var(--main-line-color);
}

.footer__social {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__social-img {
  height: 20px;
}

.footer__social-name {
  margin: 0;
}

.footer__social-text {
  text-decoration: none;
  padding: 3px 0;
  color: var(--main-text-color);
  transition: all 0.3s ease;
}

.footer__social-text:hover {
  color: #010cff;
}
